body{
    background-color: #c1c1c1;
    box-sizing: border-box;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#ground{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    border-radius: 7px;
    background-color: rgb(141, 241, 141);
}
.btn{
    margin: 5px;
}
#btn-1, #btn-2{
    background-color: rgb(123, 123, 247);
    padding: 2px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 1.5rem;
    cursor: pointer;
    text-transform: uppercase;
}
